img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

#page {
    word-wrap: break-word;
}